@model EmployeeModel

<div class="card-body col-6">
    <h4 class="card-title">Employee</h4>
    <p class="card-description"> Add New Or Edit </p>
    <form class="forms-sample" method="post" enctype="multipart/form-data"
          asp-controller="Employees" asp-action="Save" role="form">

        <!-- Name -->
        <div class="form-group">
            <label for="exampleInputUsername1">Employee Name</label>
            <input type="text" class="form-control" placeholder="Employee Name"
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                   asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Department -->
        <div class="form-group">
            <label for="exampleInputDepartment">Department</label>
            <input type="text" class="form-control" placeholder="Department"
                   asp-for="Department">
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <!-- Title -->
        <div class="form-group">
            <label for="exampleInputConfirmTitle">Title</label>
            <input type="text" class="form-control" placeholder="Title"
                   asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="form-group">
            <label for="exampleInputConfirmDescription">Description</label>
            <textarea class="form-control" placeholder="Description"
                      asp-for="Description"></textarea>
     
        </div>

        <!-- Photo -->
        <div class="form-group">
            <label for="exampleInputConfirmPhoto">Photo</label>
            <input type="file" class="form-control" placeholder="Photo" asp-for="ImageName">
        </div>

        <div class="form-check form-check-flat form-check-primary">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i>
            </label>
        </div>

        <!-- Buttons -->
        <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
    </form>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
