@model List<FirstApp2.Models.EmployeeModel>


<div class="card-body">
    <h4 class="card-title">Striped Table</h4>

    <a href="/Admin/Employees/Edit"  class="btn btn-gradient-primary btn-fw" >New </a>

   
   
    <table id="order-listing" class="table table-striped">
        <thead>
            <tr>
                <th> Employee Name </th>
                <th> Title </th>
                <th> Department </th>
                <th> Description </th>
                <th> Action </th>
          
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td> @employee.Name </td>
                    <td> @employee.Title </td>
                    <td> @employee.Department </td>
                    <td> @employee.Description </td>
                    <td>
                        <input type="button" value="Edit" class="btn btn-gradient-info btn-fw" />
                        <input type="button" value="Delete" class="btn btn-gradient-danger btn-fw" />
                   
                    </td>
                 
                </tr>
            }
        </tbody>
    </table>
</div>




@section Scripts
{
    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->
}